<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <modules>
        <!-- Remove WebDAV: it intercepts PUT/DELETE before ASP.NET Core can handle them (405) -->
        <remove name="WebDAVModule" />
      </modules>
      <handlers>
        <!-- Remove WebDAV and OPTIONS handlers so all verbs reach ASP.NET Core -->
        <remove name="WebDAV" />
        <remove name="OPTIONSVerbHandler" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\Sumpooj.API.exe" arguments="" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
